<main class="mx-auto max-w-250">
  <div class="mb-4 flex items-center justify-between px-2">
    <p class="mb-4 text-2xl font-bold">Categories</p>
    <div class="flex gap-2">
      <button hlmBtn (click)="createCategoryDialog.open()" size="lg">
        <ng-icon name="lucidePlus" class="h-5! w-5!" />
        New category
      </button>
    </div>
  </div>
  <div class="px-2">
    @if (categories().length === 0) {
      <app-data-state
        [image]="'/assets/svg/empty_state.svg'"
        title="Organize your habits"
        description="Categories help you group habits by theme. Create your first one."
        actionBtnText="Create category"
        (clickAction)="createCategoryDialog.open()"
      />
    } @else {
      <app-categories-list
        (clickDelete)="onDeleteCategory($event)"
        (clickEdit)="onEditCategory($event)"
        [categories]="categories()"
      />
    }
  </div>
</main>

<app-responsive-popup #createCategoryDialog (closedEvent)="onCloseCategoryForm()">
  @if (createCategoryDialog.state() === "open") {
    <app-category-upsert-form
      (submitted)="onCategorySubmitted($event)"
      [categoryToEdit]="categoryToEdit()"
    />
  }
</app-responsive-popup>
