<main class="mx-auto max-w-250 px-2">
  @if (habitViewModel()) {
    <div class="flex items-center justify-between mb-4">
      <p class="text-2xl font-bold mb-4">Habit Details</p>
      <div class="flex gap-2">
        <button hlmBtn variant="secondary" (click)="createDialog.open()">
          <ng-icon name="lucideEdit2" class="w-4! h-4!" />
          Edit
        </button>
        <button hlmBtn variant="destructive" (click)="onDelete()">
          <ng-icon name="lucideTrash2" class="w-4! h-4!" />
          Delete
        </button>
      </div>
    </div>

    <section>
      <app-habit-today-status-card [status]="todayStatus()" (markCompleted)="onMarkCompleted()" />
    </section>

    <section class="bg-card card-shadow border rounded-2xl p-4 mb-3">
      <header class="mb-3">
        <p class="text-foreground/50 font-semibold">Details</p>
      </header>
      <div class="flex flex-col gap-2">
        <div class="flex gap-2">
          <div class="mt-0.5">
            <ng-icon [name]="habitViewModel()?.icon" size="20px" />
          </div>
          <div>
            <p class="font-bold">{{ habitViewModel()!.name }}</p>
            <p>{{ habitViewModel()!.description }}</p>
          </div>
        </div>
        <p class="flex gap-2 items-center">
          <span class="font-bold">Category:</span>
          <span
            class="py-0.5 px-3 rounded-full"
            [style.backgroundColor]="
              habitViewModel()?.categoryInfo
                ? `var(${habitViewModel()?.categoryInfo?.color})`
                : `transparent`
            "
            >{{ habitViewModel()?.categoryInfo?.name ?? "No category" }}</span
          >
        </p>
        <p class="font-bold">Week frequency:</p>
        @if (habitViewModel()?.frequencyData!.type === "specific_days") {
          <div class="w-[190px]">
            <app-habit-week-tracker
              [enableColors]="false"
              [frequency]="habitViewModel()?.frequencyData!.days"
            />
          </div>
        }

        @if (habitViewModel()?.frequencyData!.type === "days_per_week") {
          <p>
            <span class="mr-1">{{ habitViewModel()?.frequencyData!.count }}</span>
            <span>{{ habitViewModel()?.frequencyData!.count > 1 ? "days" : "day" }}</span> at week
          </p>
        }

        @if (habitViewModel()?.frequencyData!.type === "everyday") {
          <p>Everyday</p>
        }
      </div>
    </section>

    <section class="bg-card card-shadow border p-4 rounded-2xl">
      <header class="mb-3">
        <p class="text-foreground/50 font-semibold">History</p>
      </header>
      <div>
        <app-habit-calendar-tracker
          [frequency]="habitViewModel()?.frequencyData!.days"
          [completedDates]="completedFocusedMonthDates()"
          [trackStart]="habit()!.createdAt"
          (dayClicked)="onSelectDay($event)"
          (focusedDateChange)="onChangeCalendarFocusDate($event)"
        />
      </div>
    </section>
  }
</main>

<app-responsive-popup #dateInfoPopup>
  @if (dateInfoPopup.state() === "open") {
    <app-habit-date-info
      [dateSelected]="dateSelected()!"
      [habit]="habitViewModel()!"
      [completedDates]="completedFocusedMonthDates()"
      (markCompleted)="onMarkCompleted($event)"
      (removeCompleted)="onRemoveCompleted($event)"
    />
  }
</app-responsive-popup>

<app-responsive-popup #createDialog>
  @if (createDialog.state() === "open") {
    <app-habits-create-form
      #createHabitForm
      [categories]="categories()"
      (clickNewCategory)="createCategoryDialog.open()"
      (submitted)="onHabitSubmitted($event)"
      [habitToEdit]="habit()"
    />
  }
</app-responsive-popup>

<app-responsive-popup #createCategoryDialog>
  @if (createCategoryDialog.state() === "open") {
    <app-category-upsert-form (submitted)="onCategorySubmitted($event)" />
  }
</app-responsive-popup>
