<main class="mx-auto max-w-250">
  @if (habit()) {
    <div class="flex items-center justify-between mb-4">
      <p class="text-2xl font-bold mb-4">Habit Details</p>
      <div class="flex gap-2">
        <button hlmBtn variant="secondary" (click)="createDialog.open()">
          <ng-icon name="lucideEdit2" class="w-4! h-4!" />
          Edit
        </button>
        <button hlmBtn variant="destructive" (click)="onDelete()">
          <ng-icon name="lucideTrash2" class="w-4! h-4!" />
          Delete
        </button>
      </div>
    </div>

    <app-habit-today-status-card [status]="todayStatus()" (markCompleted)="onMarkCompleted()" />

    <hlm-card class="card-shadow mb-3">
      <hlm-card-header>
        <p hlmCardTitle>Details</p>
      </hlm-card-header>
      <div hlmCardContent class="flex flex-col gap-2">
        <div class="flex gap-2">
          <div class="mt-0.5">
            <ng-icon [name]="habitIcon()" size="20px" />
          </div>
          <div>
            <p class="font-bold">{{ habit()!.name }}</p>
            <p>{{ habit()!.description }}</p>
          </div>
        </div>
        <p><span class="font-bold">Category:</span> No category</p>
        <p class="font-bold">Week frequency:</p>
        <app-habit-week-tracker [enableColors]="false" [frequency]="habitFrequency()" />
      </div>
    </hlm-card>

    <hlm-card class="card-shadow">
      <hlm-card-header>
        <p hlmCardTitle>History</p>
      </hlm-card-header>
      <div hlmCardContent>
        <app-habit-calendar-tracker
          [frequency]="habitFrequency()"
          [completedDates]="completedDates()"
          [trackStart]="habit()!.createdAt"
          (dayClicked)="onSelectDay($event)"
          (focusedDateChange)="onChangeCalendarFocusDate($event)"
        />
      </div>
    </hlm-card>
  }
</main>

<app-responsive-popup #dateInfoPopup>
  @if (dateInfoPopup.state() === "open") {
    <app-habit-date-info
      [dateSelected]="dateSelected()!"
      [habit]="habit()!"
      [completedDates]="completedDates()"
      (markCompleted)="onMarkCompleted($event)"
      (removeCompleted)="onRemoveCompleted($event)"
    />
  }
</app-responsive-popup>

<app-responsive-popup #createDialog>
  @if (createDialog.state() === "open") {
    <app-habits-create-form
      #createHabitForm
      [categories]="categories()"
      (clickNewCategory)="createCategoryDialog.open()"
      (submitted)="onHabitSubmitted($event)"
      [habitToEdit]="habit()"
    />
  }
</app-responsive-popup>

<app-responsive-popup #createCategoryDialog>
  @if (createCategoryDialog.state() === "open") {
    <app-category-upsert-form (submitted)="onCategorySubmitted($event)" />
  }
</app-responsive-popup>
