<section class="navbar-container">
  <div class="navbar-body">
    @for (bottomItem of items; track $index) {
      <button
        hlmBtn
        variant="ghost"
        class="navbar-item"
        [routerLinkActiveOptions]="{ exact: bottomItem.url === '/' }"
        [routerLink]="bottomItem.url"
        routerLinkActive="is-active"
      >
        <ng-icon class="navbar-item-icon" [name]="bottomItem.icon" />
        <label class="navbar-item-label">
          {{ bottomItem.title }}
        </label>
      </button>
    }
  </div>
</section>
