@if (status() === "pending" || status() === "urgent") {
  <hlm-card
    class="card-shadow relative mb-3 gap-1 overflow-hidden text-white"
    [class.bg-success]="status() === 'pending'"
    [class.bg-destructive]="status() === 'urgent'"
  >
    <hlm-card-header class="flex items-center justify-between">
      <p hlmCardTitle class="text-lg">
        {{
          status() === "pending"
            ? "Your habit is waiting for you"
            : "Hurry up! Don't miss today's habit!"
        }}
      </p>
      <img
        src="/assets/svg/clock_calendar.svg"
        alt="Logo"
        class="absolute top-3 right-1 h-38 w-38 object-contain opacity-20 invert"
      />
    </hlm-card-header>
    <div hlmCardContent class="flex flex-col gap-2">
      <p class="mb-2 text-sm">
        {{
          status() === "pending"
            ? "It's scheduled for today, don't forget to register"
            : "If you completed this habit, please log it before midnight!"
        }}
      </p>
      <button hlmBtn size="lg" class="bg-white text-black" (click)="markCompleted.emit()">
        <ng-icon name="lucideCheck"></ng-icon> Mark as completed
      </button>
    </div>
  </hlm-card>
}
