<hlm-card class="card-shadow py-2">
  <div hlmCardContent class="flex items-center justify-between gap-4 px-2">
    <div class="flex gap-2">
      <div
        class="bg-primary/40 text-primary w-[48px] h-[48px] rounded-lg flex items-center justify-center"
      >
        <ng-icon [name]="habitIcon()" size="24px" />
      </div>

      <div class="flex flex-col gap-1">
        <p class="text-card-foreground font-medium">{{ habit()?.name }}</p>
        <div class="h-[24px] w-[160px]">
          <app-habit-week-tracker [frequency]="habit()?.frequency!" [completedDays]="[]" />
        </div>
      </div>
    </div>

    <div
      class="hidden flex-col items-center w-[42px] text-orange-400 mr-1 border-l-2 pl-2 border-foreground/30"
    >
      <ng-icon name="lucideFlame" />
      <span class="font-bold">999</span>
    </div>
  </div>
</hlm-card>
