<div class="flex h-8 gap-2 overflow-y-clip">
  <hlm-toggle-group
    (valueChange)="onChangeCategory($event)"
    type="single"
    size="sm"
    variant="outline"
    nullable="false"
    spacing="2"
    [value]="selectedCategory() ?? 'all'"
    class="category-filter-toggle"
  >
    <button
      hlmToggleGroupItem
      value="all"
      class="flex h-full max-w-20 flex-col items-start overflow-hidden rounded-full"
    >
      <label class="w-full overflow-hidden text-xs text-ellipsis">All</label>
    </button>
    @for (category of categories(); track category.id) {
      <button
        hlmToggleGroupItem
        [value]="category.id"
        class="flex h-full max-w-25 flex-col items-start overflow-hidden rounded-full"
      >
        <label class="w-full overflow-hidden text-xs text-ellipsis">{{ category.name }}</label>
      </button>
    }
  </hlm-toggle-group>
  <button
    hlmBtn
    size="icon"
    class="bg-background/50! border-foreground/15! hover:bg-foreground/10! rounded-full"
    variant="outline"
    (click)="clickCreateCategory.emit()"
  >
    <ng-icon size="18" name="lucidePlus" />
  </button>
</div>
