<form
  [formRoot]="form"
  id="form-habit-creation"
  class="w-full sm:w-100 max-w-full min-w-20 box-border p-6"
>
  <hlm-field-group>
    <div class="flex flex-row">
      <hlm-field class="w-[60px]">
        <label hlmFieldLabel for="icon">Icon</label>
        <app-icon-selector id="icon" [formField]="form.icon" />
        @for (error of form.name().errors(); track $index) {
          <hlm-field-error [validator]="error.kind">
            {{ error.message }}
          </hlm-field-error>
        }
      </hlm-field>
      <hlm-field>
        <label hlmFieldLabel for="name">Habit name</label>
        <input
          id="name"
          hlmInput
          placeholder="Drink a glass of water"
          autocomplete="off"
          [formField]="form.name"
        />
        @for (error of form.name().errors(); track $index) {
          <hlm-field-error [validator]="error.kind">
            {{ error.message }}
          </hlm-field-error>
        }
      </hlm-field>
    </div>
    <hlm-field>
      <label hlmFieldLabel for="category">Category</label>
      <div class="flex gap-2">
        <hlm-select
          id="category"
          [formField]="form.categoryId"
          [itemToString]="itemToString"
          class="w-full"
        >
          <hlm-select-trigger buttonId="category" class="w-full" 1>
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content *hlmSelectPortal>
            <hlm-select-group>
              <hlm-select-item value="none">No category</hlm-select-item>
              @for (category of categories(); track category.id) {
                <hlm-select-item [value]="category.id">{{ category.name }}</hlm-select-item>
              }
            </hlm-select-group>
          </hlm-select-content>
        </hlm-select>
        <button
          hlmBtn
          type="button"
          size="icon"
          variant="outline"
          (click)="clickNewCategory.emit()"
        >
          <ng-icon name="lucidePlus" />
        </button>
      </div>

      @for (error of form.name().errors(); track $index) {
        <hlm-field-error [validator]="error.kind">
          {{ error.message }}
        </hlm-field-error>
      }
    </hlm-field>
    <hlm-field>
      <label hlmFieldLabel for="description">Habit description</label>
      <textarea
        hlmTextarea
        id="description"
        class="min-h-32"
        placeholder="Write about this habit"
        [formField]="form.description"
      ></textarea>

      @for (error of form.description().errors(); track $index) {
        <hlm-field-error [validator]="error.kind">
          {{ error.message }}
        </hlm-field-error>
      }
    </hlm-field>
    <hlm-field>
      <label hlmFieldLabel for="frequency">Habit frequency</label>
      <hlm-toggle-group
        class="flex justify-center align-middle"
        aria-labelledby="frequency-label"
        id="frequency"
        type="multiple"
        variant="outline"
        spacing="1"
        [formField]="form.frequency"
      >
        @for (weekDay of weekdayOptions; track weekDay.key) {
          <button hlmToggleGroupItem [value]="weekDay.key" aria-label="Sunday">
            {{ weekDay.label }}
          </button>
        }
      </hlm-toggle-group>

      @for (error of form.frequency().errors(); track $index) {
        <hlm-field-error [validator]="error.kind">
          {{ error.message }}
        </hlm-field-error>
      }
    </hlm-field>
    <hlm-field>
      <button hlmBtn type="submit" form="form-habit-creation">
        {{ habitToEdit() ? "Edit Habit" : "Create Habit" }}
      </button>
    </hlm-field>
  </hlm-field-group>
</form>
