<div class="flex gap-2 h-15 overflow-y-clip">
  <hlm-toggle-group
    type="single"
    size="sm"
    variant="outline"
    spacing="2"
    value="all"
    class="h-full"
  >
    <button
      hlmToggleGroupItem
      value="all"
      class="flex flex-col h-full w-20 overflow-hidden items-start"
    >
      <ng-icon class="mx-auto" name="lucideList" />
      <label class="overflow-hidden text-ellipsis w-full text-xs">All</label>
    </button>
  </hlm-toggle-group>
  <button hlmBtn size="sm" class="h-full w-20" variant="ghost" (click)="clickedCreateCategory.emit()">
    <ng-icon size="22" name="lucidePlus" />
  </button>
</div>
