<main class="mx-auto max-w-250">
  <div class="flex items-center justify-between mb-4 px-2">
    <p class="text-2xl font-bold mb-4">Habits</p>
    <div class="flex gap-2">
      <button hlmBtn (click)="createHabitDialog.open()">
        <ng-icon name="lucidePlus" class="w-5! h-5!" />
        New habit
      </button>
      <button hlmBtn variant="ghost" size="icon" [hlmDropdownMenuTrigger]="menu" align="end">
        <ng-icon size="20" name="lucideEllipsisVertical" />
      </button>
      <ng-template #menu>
        <hlm-dropdown-menu>
          <a hlmDropdownMenuItem routerLink="/settings/categories"> Manage Categories </a>
        </hlm-dropdown-menu>
      </ng-template>
    </div>
  </div>
  <div class="overflow-x-auto px-3 mb-3">
    <app-category-filter-picker
      [categories]="categories()"
      [selectedCategory]="filters().categoryId"
      (changeCategory)="onCategoryFilterChange($event)"
      (clickCreateCategory)="createCategoryDialog.open()"
    />
  </div>
  <div class="px-2">
    <app-habits-list [habits]="filteredHabits()" />
  </div>
</main>

<app-responsive-popup #createHabitDialog>
  @if (createHabitDialog.state() === "open") {
    <app-habits-create-form
      #createHabitForm
      [categories]="categories()"
      (clickNewCategory)="createCategoryDialog.open()"
      (submitted)="onHabitSubmitted($event)"
    />
  }
</app-responsive-popup>

<app-responsive-popup #createCategoryDialog>
  @if (createCategoryDialog.state() === "open") {
    <app-category-upsert-form (submitted)="onCategorySubmitted($event)" />
  }
</app-responsive-popup>
