<form
  [formRoot]="form"
  id="form-category-upsert"
  class="w-full sm:w-100 max-w-full min-w-20 box-border p-6"
>
  <hlm-field-group>
    <hlm-field>
      <label hlmFieldLabel for="name">Category name</label>
      <input
        id="name"
        hlmInput
        placeholder="e.g: Priority"
        autocomplete="off"
        [formField]="form.name"
      />
      @for (error of form.name().errors(); track $index) {
        <hlm-field-error [validator]="error.kind">
          {{ error.message }}
        </hlm-field-error>
      }
    </hlm-field>
    <hlm-field>
      <label hlmFieldLabel for="name" class="mb-2">Category color</label>
      <div class="max-w-80 mx-auto">
        <app-color-picker id="color" [formField]="form.color" />
      </div>
      @for (error of form.name().errors(); track $index) {
        <hlm-field-error [validator]="error.kind">
          {{ error.message }}
        </hlm-field-error>
      }
    </hlm-field>
    <hlm-field>
      <button hlmBtn type="submit" form="form-category-upsert">
        {{ categoryToEdit() ? "Edit Category" : "Create Category" }}
      </button>
    </hlm-field>
  </hlm-field-group>
</form>
