<app-responsive-popup #responsivePopup>
  <div class="w-full sm:max-w-[380px]">
    <div class="mb-2 flex flex-col items-center gap-6 px-6">
      <div
        class="bg-destructive/40 mt-4 flex min-h-12 min-w-12 items-center justify-center rounded-full"
        [class]="iconThemeClasses()"
      >
        <ng-icon size="28" [name]="icon()" />
      </div>
      @if (title()) {
        <h2 class="text-center text-xl font-medium">{{ title() }}</h2>
      }
    </div>

    @if (message()) {
      <p class="text-foreground/60 px-3 text-center">{{ message() }}</p>
    }

    <div class="mt-3 grid grid-cols-1 gap-2 p-3" [class.grid-cols-2]="cancelButtonLabel()">
      @if (cancelButtonLabel()) {
        <button
          hlmBtn
          variant="secondary"
          [disabled]="isLoading()"
          [class.opacity-50]="isLoading()"
          (click)="onCancel()"
          size="lg"
          type="button"
        >
          {{ cancelButtonLabel() }}
        </button>
      }
      <button
        hlmBtn
        [variant]="type() === 'warning' || type() === 'error' ? 'destructive' : 'default'"
        [disabled]="isLoading()"
        [class.opacity-50]="isLoading()"
        (click)="onConfirm()"
        size="lg"
        type="button"
      >
        {{ confirmButtonLabel() }}
      </button>
    </div>
  </div>
</app-responsive-popup>
