<div class="grid grid-cols-8 gap-3">
  @for (color of colors; track color.key) {
    <button
      type="button"
      (click)="select(color)"
      [title]="color.label"
      type="button"
      class="focus-visible:ring-ring focus-visible:ring-offset-background flex h-8 w-8 items-center justify-center rounded-full border-2 transition-transform outline-none hover:scale-110 focus-visible:ring-2 focus-visible:ring-offset-2"
      [class.border-foreground]="value() === color.key"
      [class.border-transparent]="value() !== color.key"
      [style.backgroundCOlor]="'var(' + color.cssVar + ')'"
    ></button>
  }
</div>
