<div class="box-border flex w-full max-w-full min-w-20 flex-col gap-3 pt-4 sm:w-100">
  <header class="flex items-start gap-4 px-6">
    <div class="flex flex-col items-center justify-center gap-0">
      <p class="text-center text-2xl font-medium">{{ dayNumber() }}</p>
      <p class="text-center text-xs uppercase">{{ monthLabel() }}</p>
    </div>
    <div>
      <p class="mb-1 font-medium">{{ habit().name }}</p>
      <span
        hlmBadge
        [class]="config().badgeClass"
        class="bg-foreground/40 flex items-center gap-1 text-white"
        [class.bg-success]="status() === 'completed'"
        [class.bg-destructive]="status() === 'missed'"
      >
        @if (config().icon) {
          <ng-icon [name]="config().icon" />
        }
        {{ config().badgeLabel }}
      </span>
    </div>
  </header>
  <div class="text-muted-foreground mb-4 px-6">
    {{ config().description(habit().name) }}
  </div>
  @if (config().footerHint) {
    <footer class="bg-card-foreground/5 px-6 pt-2 pb-4">
      <small class="text-muted-foreground mb-3 block text-center">
        {{ config().footerHint }}
      </small>

      <button
        hlmBtn
        class="w-full"
        (click)="config().action?.()"
        [variant]="config().buttonVariant ?? 'default'"
      >
        {{ config().buttonLabel }}
      </button>
    </footer>
  }
</div>
