@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "@spartan-ng/brain/hlm-tailwind-preset.css";
/* You can add global styles to this file, and also import other style files */

@theme {
  --color-success: var(--success);
  --color-destructive: var(--destructive);
  --color-warning: var(--warning);
  --color-info: var(--info);

  --color-cat-red: var(--cat-red);
  --color-cat-orange: var(--cat-orange);
  --color-cat-amber: var(--cat-amber);
  --color-cat-yellow: var(--cat-yellow);
  --color-cat-lime: var(--cat-lime);
  --color-cat-green: var(--cat-green);
  --color-cat-emerald: var(--cat-emerald);
  --color-cat-teal: var(--cat-teal);
  --color-cat-cyan: var(--cat-cyan);
  --color-cat-blue: var(--cat-blue);
  --color-cat-indigo: var(--cat-indigo);
  --color-cat-violet: var(--cat-violet);
  --color-cat-purple: var(--cat-purple);
  --color-cat-fuchsia: var(--cat-fuchsia);
  --color-cat-pink: var(--cat-pink);
  --color-cat-slate: var(--cat-slate);
}

:root {
  color-scheme: light;

  --bg-ambient: radial-gradient(100% 100% at 100% 0%, #cefde8, #e5f8f0);
  --radius: 0.625rem;
  --sidebar-width: 72px;
  --sidebar-padding: 20px;
  --bottombar-height: 64px;
  --bottombar-padding: 18px;

  --background: oklch(97.2% 0.015 158);
  --foreground: oklch(21.357% 0.04368 157.679);

  --card: oklch(98.641% 0.01147 154.175);
  --card-shadow: 0 3px 4px color-mix(var(--foreground) 10%, transparent);
  --card-foreground: var(--foregound);
  --card-border: oklch(92.5% 0.01 155);

  --popover: var(--card);
  --popover-foreground: var(--foreground);

  --primary: oklch(68.119% 0.20626 141.997);
  --primary-border: oklch(94.2% 0.03 145);
  --primary-foreground: oklch(99% 0.005 160);

  --secondary: color-mix(in srgb, var(--foreground) 10%, transparent);
  --secondary-foreground: oklch(25% 0.03 155);

  --muted: color-mix(in srgb, var(--foreground) 10%, transparent);
  --muted-foreground: oklch(48% 0.015 160);

  --accent: color-mix(in srgb, var(--foreground) 10%, transparent);
  --accent-foreground: var(--foreground);

  --destructive: oklch(57.7% 0.245 27.325);
  --success: oklch(72.657% 0.22482 141.965);
  --warning: oklch(76.9% 0.188 70.08);
  --info: oklch(60.5% 0.142 250);

  --border: oklch(92.5% 0.01 155);
  --input: color-mix(in srgb, var(--foreground) 10%, transparent);
  --ring: oklch(65.5% 0.175 142 / 0.5);

  /* Sidebar */
  --sidebar: oklch(96.948% 0.00986 155.673);
  --sidebar-foreground: color-mix(in srgb, var(--foreground) 60%, transparent);
  --sidebar-hover: color-mix(in srgb, var(--sidebar-foreground) 8%, transparent);
  --sidebar-primary: color-mix(in srgb, var(--sidebar-primary-foreground) 10%, transparent);
  --sidebar-primary-foreground: var(--primary);
  --sidebar-border: color-mix(in srgb, var(--sidebar-foreground) 8%, transparent);
  --sidebar-shadow: 0 6px 10px color-mix(in srgb, var(--primary) 20%, transparent);

  --cat-red: oklch(0.65 0.22 25);
  --cat-orange: oklch(0.7 0.18 50);
  --cat-amber: oklch(0.75 0.16 75);
  --cat-yellow: oklch(0.85 0.15 100);
  --cat-lime: oklch(0.78 0.15 130);
  --cat-green: oklch(65.5% 0.175 142);
  --cat-emerald: oklch(0.6 0.15 170);
  --cat-teal: oklch(0.65 0.12 190);
  --cat-cyan: oklch(0.7 0.12 210);
  --cat-blue: oklch(0.65 0.16 250);
  --cat-indigo: oklch(0.6 0.18 280);
  --cat-violet: oklch(0.6 0.2 300);
  --cat-purple: oklch(0.65 0.2 320);
  --cat-fuchsia: oklch(0.65 0.22 340);
  --cat-pink: oklch(0.7 0.2 350);
  --cat-slate: oklch(0.7 0.05 250);
}

:root.dark {
  color-scheme: dark;

  --bg-ambient: radial-gradient(100% 100% at 100% 0%, #0d2118, #090e08);
  --background: oklch(11.5% 0.018 162);
  --foreground: oklch(98.2% 0.008 160);

  --card: oklch(22.342% 0.02504 158.563);
  --card-shadow: 0 3px 4px color-mix(var(--background) 10%, transparent);
  --card-foreground: var(--foreground);

  --popover: var(--card);
  --popover-foreground: var(--card-foreground);

  --primary: oklch(64.827% 0.17363 142.984);
  --primary-border: oklch(1 0 0 / 8%);
  --primary-foreground: oklch(93.5% 0.015 160);

  --secondary: color-mix(in srgb, var(--foreground) 10%, transparent);
  --secondary-foreground: oklch(93.5% 0.015 160);

  --muted: color-mix(in srgb, var(--foreground) 10%, transparent);
  --muted-foreground: oklch(68% 0.015 160);

  --accent: color-mix(in srgb, var(--foreground) 10%, transparent);
  --accent-foreground: var(--foreground);

  --destructive: oklch(64% 0.191 22.2);
  --success: oklch(68.5% 0.185 143);
  --warning: oklch(76.9% 0.188 70.08);
  --info: oklch(60.5% 0.142 250);

  --border: oklch(1 0 0 / 8%);
  --input: color-mix(in srgb, var(--foreground) 10%, transparent);
  --ring: oklch(68.5% 0.185 143 / 0.4);

  --sidebar: oklch(27.918% 0.03519 158.093);
  --sidebar-foreground: color-mix(in srgb, var(--foreground) 100%, transparent);
  --sidebar-hover: color-mix(in srgb, var(--sidebar-foreground) 8%, transparent);
  --sidebar-primary: color-mix(in srgb, var(--sidebar-primary-foreground) 10%, transparent);
  --sidebar-primary-foreground: var(--primary);
  --sidebar-border: color-mix(in srgb, var(--sidebar-foreground) 8%, transparent);
  --sidebar-shadow: 0 6px 10px color-mix(in srgb, var(--sidebar) 20%, transparent);

  --cat-red: oklch(0.52 0.2 25);
  --cat-orange: oklch(0.58 0.15 50);
  --cat-amber: oklch(0.63 0.13 75);
  --cat-yellow: oklch(0.72 0.12 100);
  --cat-lime: oklch(0.68 0.13 130);
  --cat-green: oklch(68.5% 0.185 143);
  --cat-emerald: oklch(0.5 0.13 170);
  --cat-teal: oklch(0.55 0.1 190);
  --cat-cyan: oklch(0.6 0.1 210);
  --cat-blue: oklch(0.55 0.14 250);
  --cat-indigo: oklch(0.5 0.16 280);
  --cat-violet: oklch(0.5 0.18 300);
  --cat-purple: oklch(0.55 0.18 320);
  --cat-fuchsia: oklch(0.55 0.2 340);
  --cat-pink: oklch(0.6 0.18 350);
  --cat-slate: oklch(0.4 0.04 250);
}

@layer utilities {
  .card-shadow {
    box-shadow: var(--card-shadow) !important;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground relative;
    background-color: var(--background);
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: var(--bg-ambient);
    pointer-events: none; /* Asegura que no bloquee los clics en tu app */
  }
}
