<div
  class="bg-card card-shadow block h-[68px] rounded-xl border border-l-14"
  [style.borderLeftColor]="'var(' + categoryColor() + ')'"
>
  <div hlmCardContent class="flex h-full w-full items-center justify-between gap-4 px-3">
    <div class="flex items-center gap-2">
      <div class="flex flex-col gap-1">
        <p class="font-medium">{{ category()?.name }}</p>
      </div>
    </div>

    <div class="flex gap-1">
      <button
        hlmBtn
        size="icon"
        class="text-foreground hover:bg-foreground/10 bg-transparent"
        (click)="edit.emit(category()!)"
      >
        <ng-icon size="18" name="lucideEdit2" />
      </button>
      <button
        hlmBtn
        size="icon"
        class="text-foreground hover:bg-foreground/10 bg-transparent"
        (click)="delete.emit(category()?.id!)"
      >
        <ng-icon size="18" name="lucideTrash2" />
      </button>
    </div>
  </div>
</div>
