<div
  class="block bg-card rounded-xl card-shadow border border-l-14 h-[68px]"
  [style.borderLeftColor]="'var(' + categoryColor() + ')'"
>
  <div hlmCardContent class="flex items-center justify-between gap-4 px-3 w-full h-full">
    <div class="flex gap-2 items-center">
      <div class="flex flex-col gap-1">
        <p class="font-medium">{{ category()?.name }}</p>
      </div>
    </div>

    <div class="flex gap-1">
      <button
        hlmBtn
        size="icon"
        class="bg-transparent text-foreground hover:bg-foreground/10"
        (click)="edit.emit(category()!)"
      >
        <ng-icon size="18" name="lucideEdit2" />
      </button>
      <button
        hlmBtn
        size="icon"
        class="bg-transparent text-foreground hover:bg-foreground/10"
        (click)="delete.emit(category()?.id!)"
      >
        <ng-icon size="18" name="lucideTrash2" />
      </button>
    </div>
  </div>
</div>
